# Comparing Recommendations against Karma

For each scenario, get insights about the recommendation of users and their position and position in the Karma ranking

In [132]:
import pandas as pd
import os
users = pd.read_csv(os.environ['PWD'] + '/data/data_extracted_from_db/ra_user.csv', sep=";")
karma_ranking = users[['id','karma']].sort_values(by=['karma'], ascending=False)
karma_ranking['pos'] = -1

j = 1
for i, row in karma_ranking.iterrows():
    row['pos'] = j
    j += 1

karma_ranking.head()

        id  karma  pos
2        3  48115    1
5075  5184  43312    2
1032  1034  41279    3
121    122  29613    4
24      25  24183    5

In [133]:
karma_ranking.query("id == 26450")

          id  karma  pos
13082  26450   3367   44

## Analysing one question

In [95]:
question_ranking = pd.read_json(os.environ['PWD'] + '/results/20190714_1213_5p/C/63943.json')
question_ranking.columns = ['id', 'score']
question_ranking['pos'] = -1

j = 1
for idx, row in question_ranking.iterrows():
    question_ranking.loc[idx,'pos'] = j
    j += 1

In [110]:
q_top30 = question_ranking.head(30)

q_top30

       id       score  pos
0    5184  421.119735    1
1    1034  244.536824    2
2     122  155.105362    3
3       3  142.111489    4
4      25  108.342462    5
5      21  107.616116    6
6   26450   68.966927    7
7     351   58.644979    8
8     875   58.614168    9
9      11   53.011896   10
10     57   51.705091   11
11    173   48.776146   12
12  12786   43.713034   13
13   2647   41.125299   14
14     10   40.643992   15
15    458   39.045369   16
16  21619   38.972799   17
17   2221   35.304314   18
18    888   30.505534   19
19   3152   29.805568   20
20   2575   28.779696   21
21    120   27.000230   22
22     19   26.299398   23
23   1272   26.148488   24
24    141   22.912391   25
25  20929   21.795512   26
26   3729   21.538890   27
27   3585   20.638338   28
28     87   20.103526   29
29   1001   19.932587   30

In [142]:
a = []
for idx, row in q_top30.iterrows():
    id_ = q_top30.loc[idx,'id']
    pos_ = karma_ranking.query(f"id == {id_}").iat[0,2]
    a.append((q_top30.loc[idx,'pos'], pos_))
a

[(1, 2),
 (2, 3),
 (3, 4),
 (4, 1),
 (5, 5),
 (6, 7),
 (7, 44),
 (8, 60),
 (9, 14),
 (10, 15),
 (11, 6),
 (12, 16),
 (13, 149),
 (14, 19),
 (15, 8),
 (16, 66),
 (17, 375),
 (18, 419),
 (19, 20),
 (20, 170),
 (21, 10),
 (22, 28),
 (23, 13),
 (24, 23),
 (25, 24),
 (26, 424),
 (27, 1511),
 (28, 325),
 (29, 37),
 (30, 78)]