In [39]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("v1.db")

## Activity: asking and commenting a question
query_activity_ans_comm = """ select active_users.q_id, active_users.u_id as u_id , count(*) as activity
                                from
                                (
                                    select rqa.ros_question_id as q_id, ra.author as u_id
                                    from ros_question_answer as rqa
                                    left join ros_answer as ra on rqa.ros_answer_id = ra.id
                                ) as active_users
                                group by q_id, u_id
"""
act_ans_comm = pd.read_sql_query(query_activity_ans_comm, conn)



## Activity: asking a question
query_activity_ask = """ select q_id, author as u_id, 1 as activity
                            from 
                            (
                                select distinct ros_question_answer.ros_question_id as q_id
                                from ros_question_answer
                            ) as questions
                            left join ros_question as rq on questions.q_id = rq.id 
"""
act_ask = pd.read_sql_query(query_activity_ask, conn)

conn.close()

In [38]:
act_ans_comm.head()

   q_id  u_id  activity
0  9033     3         1
1  9033    11         1
2  9033   139         1
3  9036     3         1
4  9036  6791         1

In [36]:
act_ask.head()

   q_id  u_id  activity
0  9033     2         1
1  9036     2         1
2  9037     2         1
3  9038     2         1
4  9039     2         1

In [57]:
def activity_ans_comm(user,question):
    val = act_ans_comm[(act_ans_comm['u_id'] == user) & (act_ans_comm['q_id'] == question)]["activity"]
    if val.empty:
        return 0
    return val.values[0]

# Tests
print("Tests")
print("-----")
print(activity_ans_comm(0,9045) == 0)
print(activity_ans_comm(3,9045) == 1)
print(activity_ans_comm(23668,9045) == 2)

In [62]:
def activity_ask(user,question):
    val = act_ask[(act_ask['u_id'] == user) & (act_ask['q_id'] == question)]["activity"]
    if val.empty:
        return 0
    return val.values[0]

# Tests
print("Tests")
print("-----")
print(activity_ask(7,9045) == 1 ) # True
print(activity_ask(3,9045) == 0 ) # True
print(activity_ask(23668,9045) == 0 ) # True

Tests
-----
True
True
True