In [3]:
import pandas as pd
import os
path_to_results = os.environ['HOME']+'/projects/ra_recommendator_conrec/results/'

# All experiments
# experiment = "20190717_1108_5p_100" # - images: done
# experiment = "20190714_1211_6p" - images: done
# experiment = "20190714_1213_5p" - images: done
# experiment = "20190714_1231_7p" - images: done
# experiment = "20190714_1231_8p" - images: done
# experiment = "20190714_1232_9p" - images: done
# experiment = "20190714_1233_10p" - images: done
experiment = "20190714_1234_3p"
# experiment = "20190714_1235_4p" - images: done
# experiment = "20190714_1236_2p"


nb_of_participants = experiment[14:-1]
scenarios = ['A', 'B', 'C', 'D']
data = {}
for s in scenarios:
    data[s] = pd.read_csv(path_to_results+experiment+'/recall_for_scenario_'+s+'.csv', sep='\t', index_col=0)
data['A'].head()

,top 5,top 10,top 15,top 20,top 25,top 30,top 35,top 40,top 45,top 50,...,top 105,top 110,top 115,top 120,top 125,top 130,top 135,top 140,top 145,top 150
q_id,,,,,,,,,,,,,,,,,,,,,
11764,0.333333,0.333333,0.333333,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,...,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667
102161,0.333333,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
12178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667
224139,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
236625,0.666667,0.666667,0.666667,0.666667,0.666667,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
# all questions in which any of the scenarios performed poorly, ie. Recall@60 <= 0.2
questions_with_bad_performance = [9135, 9197, 9251, 9273, 9277, 9427, 9606, 9615, 9620, 9653, 9684, 9750, 9796, 10006, 10013, 10020, 10027, 10072, 10105, 10120, 10149, 10238, 10280, 10284, 10313, 10323, 10342]

bad_performance = []

for scenario in scenarios:
    bad_performance.append(data[scenario][data[scenario].index.isin(questions_with_bad_performance)]['top 60'])
df = pd.DataFrame(bad_performance)
df = df.transpose()
df.columns = scenarios

def get_arrows(baseline,result):
    up_arrow   = 'â¬†'
    down_arrow = 'â¬‡'
    
    diff = result - baseline
    delta = 0.2 # increments are in deltas of 0.2
    nb_of_arrows = int(abs(diff)/delta)
    
    if nb_of_arrows == 0:
        return '-'
    
    # nb_of_arrows > 0 
    if diff > 0.0:
        return up_arrow*nb_of_arrows
    elif diff < 0.0:
        return down_arrow*nb_of_arrows
    else: 
        return '-'
    
for index, row in df.iterrows():   
    df.at[index,'Q+'] = get_arrows(row['A'],row['B'])
    df.at[index,'U+'] = get_arrows(row['A'],row['C'])    
    df.at[index,'Q+ U+'] = get_arrows(row['A'],row['D'])

df.sort_index()

Empty DataFrame
Columns: [A, B, C, D]
Index: []